

.mineDiv {
    position: absolute;
    top: 15%;
    border-style: solid;
    border-color: #3578e3;
    border-width: 2px;
    width: 80vmin;
    height: 80vmin;
    box-shadow: 5px 5px 5px #3578e3;
}

#btn_mine {
    position: relative;
    top: 2em;
    width: 30vmin;
    height: 10vmin;
    font-size: 0.8em;
    
    z-index: 10;
    background-color: #3578e3;
    color: white;
    border: none;
    box-shadow: 5px 5px 5px grey;

}

header {
    color: black;
    padding: 4px;

}